header {
    padding: 10px 0;
    background-color:white;

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.myflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 500px;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
li a {
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.fa-bars {
    display: none;
    cursor: pointer;
}

